body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cornflowerblue;
  position: relative;
  overflow: hidden;
}

.smile {
  width: 500px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[15];
      grid-template-rows: repeat(15, 1fr);
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -webkit-animation: 5s linear infinite slidein;
          animation: 5s linear infinite slidein;
  position: absolute;
}

.smile__black {
  background-color: black;
}

.smile__black--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 1/6/2/11;
}

.smile__black--2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2/4/3/6;
}

.smile__black--3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 2/11/3/13;
}

.smile__black--4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
}

.smile__black--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-area: 3/13/4/14;
}

.smile__black--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4/2/6/3;
}

.smile__black--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 14;
  -ms-grid-column-span: 1;
  grid-area: 4/14/6/15;
}

.smile__black--8 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 15;
  grid-area: 6/1/7/16;
}

.smile__black--9 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7/1/11/2;
}

.smile__black--10 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-area: 7/15/11/16;
}

.smile__black--11 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7/3/8/5;
}

.smile__black--12 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-area: 7/7/8/11;
}

.smile__black--13 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-area: 7/13/8/14;
}

.smile__black--14 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 15;
  -ms-grid-column-span: 1;
  grid-area: 7/15/8/16;
}

.smile__black--15 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 8/3/9/6;
}

.smile__black--16 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 8/7/9/8;
}

.smile__black--17 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: 8/9/9/12;
}

.smile__black--18 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-area: 8/13/9/14;
}

.smile__black--19 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 9/4/10/7;
}

.smile__black--20 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 9/10/10/13;
}

.smile__black--21 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 11/2/13/3;
}

.smile__black--22 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  -ms-grid-column: 14;
  -ms-grid-column-span: 1;
  grid-area: 11/14/13/15;
}

.smile__black--23 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 12/6/13/7;
}

.smile__black--24 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 12/10/13/11;
}

.smile__black--25 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 13/3/14/4;
}

.smile__black--26 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 1;
  grid-area: 13/13/14/14;
}

.smile__black--27 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 13/7/14/10;
}

.smile__black--28 {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 14/4/15/6;
}

.smile__black--29 {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 14/11/15/13;
}

.smile__black--30 {
  -ms-grid-row: 15;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 15/6/16/11;
}

.smile__white {
  background-color: white;
}

.smile__white--1 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 7/5/8/7;
}

.smile__white--2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 7/11/8/13;
}

.smile__white--3 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 8/6/9/7;
}

.smile__white--4 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-area: 8/12/9/13;
}

.smile__yellow {
  background-color: yellow;
}

.smile__yellow--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 2/6/3/11;
}

.smile__yellow--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-area: 3/4/4/13;
}

.smile__yellow--3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-area: 4/3/6/14;
}

.smile__yellow--4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7/2/9/3;
}

.smile__yellow--5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 14;
  -ms-grid-column-span: 1;
  grid-area: 7/14/9/15;
}

.smile__yellow--6 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 9/2/10/4;
}

.smile__yellow--7 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 9/7/10/10;
}

.smile__yellow--8 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-area: 9/13/10/15;
}

.smile__yellow--9 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-area: 8/8/9/9;
}

.smile__yellow--10 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-area: 10/2/11/15;
}

.smile__yellow--11 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-area: 11/3/12/14;
}

.smile__yellow--12 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 12/3/13/6;
}

.smile__yellow--13 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 12/7/13/10;
}

.smile__yellow--14 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-area: 12/11/13/14;
}

.smile__yellow--15 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 13/4/14/7;
}

.smile__yellow--16 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: 13/10/14/13;
}

.smile__yellow--17 {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 14/6/15/11;
}

@-webkit-keyframes slidein {
  from {
    left: -500px;
    top: calc(50% - 250px);
  }
  to {
    left: 110%;
    top: calc(50% - 250px);
  }
}

@keyframes slidein {
  from {
    left: -500px;
    top: calc(50% - 250px);
  }
  to {
    left: 110%;
    top: calc(50% - 250px);
  }
}
/*# sourceMappingURL=styles.css.map */